* {
  box-sizing: border-box;
}

html,
body {
  color: #1A1818;
  font-family: "Sumana", serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFEF6;
  background-image: url(https://www.transparenttextures.com/patterns/clean-gray-paper.png);
  display: flex;
  flex-direction: column;
  font-family: monospace;
}

.cp-spinner {
  display: flex;
  margin: 5rem auto;
}

div.header {
  text-align: center;
  margin-top: 1.5rem;
}

div.header h1,
div.header h2 {
  color: slategrey;
  margin: 0;
}

div.header h2 {
  color: slategrey;
}

span.blue {
  color: #50A7E0;
}

div.header span#grey {
  color: darkgrey;
  font-weight: lighter;
}

.searchdiv,
.newrandom {
  margin: 1rem;
  text-align: center;
}

.searchdiv {
  font-family: "Sumana", serif;
}

.searchy {
  font-family: "Sumana", serif;
  background-color: #EEE;
  width: 15rem;
  height: 2rem;
  margin-right: .5rem;
  font-size: 20px;
}

.buttonIt {
  background-color: #50A7E0;
  border: 1px solid slategray;
  border-bottom: 3px solid slategray;
  border-left: 2px solid slategray;
  border-right: 2px solid slategray;
  width: 15rem;
  height: 2rem;
  font-size: 1rem;
}

.buttonIt:active {
  border-bottom: 1px solid slategray;
  border-left: 1px solid slategray;
  border-right: 1px solid slategray;
  transform: translateY(2px);
}

div#word,
div#definition,
div#books {
  border: 1px solid #63B6ED;
  display: inline-block;
  margin: 1rem;
}

div#word {
  text-align: center;
}

div#word h2 {
  font-size: 32px;
  margin: .5rem 0;
}

div#definition span {
  font-weight: bolder;
  margin-left: 1rem;
}

div.definitions {
  padding: 10px;
}

p {
  color: #1A1818;
  font-size: 14px;
  display: inline;
  line-height: 1.5;
}

div.aBook {
  align-items: center;
  border: 1px solid lightgray;
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

div.aBook span {
  color: slategrey;
}

div.aBook img {
  margin-right: .5rem;
}

div.bookCover {
  margin-right: 5%;
  text-align: center;
}

div.bookCover p {
  color: grey;
}

div.aBook a {
  display: inline;
}

div.aBook p {
  max-width: 75%;
}

a.theTitle {
  color: #50A7E0;
  text-decoration: none;
}

a.theTitle:hover {
  color: #50A7E0;
  text-decoration: underline;
}

.hideMe {
  visibility: hidden;
}

@media (max-width: 599px) {
  div.aBook {
    flex-direction: column;
  }
  div.aBook p {
    max-width: none;
  }
}
