* {
  box-sizing: border-box;
}

html,
body {
  color: #1A1818;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.cp-spinner {
  display: flex;
  margin: 1rem auto;
}

div.header {
  text-align: center;
}

div.header h1,
div.header h2 {
  color: dimgrey;
  margin: 0;
}

div.header h2 {
  color: darkgrey;
}

span.blue {
  color: #50A7E0;
}

div.header span#grey {
  color: darkgrey;
  font-weight: lighter;
}

.searchdiv,
.newrandom {
  margin: 1rem;
  text-align: center;
}

.searchy {
  background-color: #EEE;
}

button {
  background-color: #50A7E0;
  border: 1px solid #50A7E0;
}

div#word,
div#definition,
div#books {
  border: 1px solid #63B6ED;
  display: inline-block;
  margin: 1rem;
}

div#word {
  text-align: center;
}

div#word h2 {
  font-size: 32px;
  margin: .5rem 0;
}

div#definition span {
  font-weight: bolder;
  margin-left: 1rem;
}

div.definitions {
  padding: 10px;
}

p {
  color: #50A7E0;
  display: inline;
  line-height: 2;
}

div.aBook {
  align-items: center;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

div.aBook span {
  color: darkgrey;
}

div.aBook img {
  border: 1px dotted black;
  margin-right: .5rem;
}

div.bookCover {
  margin-right: 5%;
  text-align: center;
}

div.bookCover p {
  color: darkgrey;
}

div.aBook a {
  display: inline;
}

div.aBook p {
  max-width: 75%;
}

@media (min-width: 799px) {
  div.books {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
